<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<title>联系我们</title>
		<!-- <link rel="stylesheet" href="http://www.hgcapsule.com/css/font-awesome.css"/> -->
		<link rel="stylesheet" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" href="/static/css/css.css" />

		<link rel="stylesheet" href="/static/css/default.css" />
		<link rel="stylesheet" href="/static/css/swiper.min.css" />
		<link rel="stylesheet" href="/static/css/freestyle.css" />
		<link rel="stylesheet" href="/static/css/b_style.css" />

		<script type="text/javascript" src="/static/js/jQuery.js"></script>
		<script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js" ></script>
		<script type="text/javascript" src="/static/js/style.js"></script>
		

	</head>
	<body>
			<div class="topWrap clearfix">
					<div class="top">
						<p>欢迎访问宏辉胶丸官方网站！</p>
						<div class="top_R">
							<a href="#"><img src="/static/img/top_tell.png">0575-86176888</a><span>|</span>
							<a href="#"><img src="/static/img/top_mell.png">honghui158@163.com</a>
						</div>
					</div>
				</div>
				<!--header-->
				<div id="showRight"></div>
				<div class="header">
					<a href="index.html" class="logo"><img src="/static/img/logo.png"></a>
					<ul>
						<li><a href="index.html">首页</a></li>
						<li><a href="company_introduction.html">公司介绍</a></li>
						<!-- <li><a href="news_information.html">新闻动态</a></li> -->
						<li><a href="product_introduction.html">产品介绍</a></li>
						<li><a href="quality.html">品质监管</a></li>
						<li><a href="production_process.html">生产流程</a></li>
						<li><a href="contact_US.html" class="cur">联系我们</a></li>
					</ul>
					<a href="javascript:;" class="menu"></a>
				</div>
				<div id="Nav">
					<ul>
						<li><a href="index.html">首页</a></li>
						<li><a href="company_introduction.html">公司介绍</a></li>
						<!-- <li><a href="news_information.html">新闻动态</a></li> -->
						<li><a href="product_introduction.html">产品介绍</a></li>
						<li><a href="quality.html">品质监管</a></li>
						<li><a href="production_process.html">生产流程</a></li>
						<li><a href="contact_US.html">联系我们</a></li>
					</ul>
				</div>
			<!--banner-->
			<div class="banner">
				<a href="#"><img src="/static/temp/company_banner.jpg"></a>
				<!-- <div class="case_bawz">
					<h2>赶快联系我们吧！</h2>
					<p>Contact with us!</p>
				</div> -->
			</div>
			<!--case_内容-->	
			<div class="case_introduction contact_Us" >
				<div class="require_title" style="top: 0px; opacity: 1;">
					<div class="require_tit">联系我们</div>
					<div class="require_text">Contact us</div>
				</div>	
				<div class="col-sm-6">
					<div class="require_title"  style="top: 0px; left:300px; opacity: 1;">
							<div class="message_tit">
								浙江宏辉胶丸有限公司
							</div>
							<div class="address_con">
								<div><i class="fa fa-envelope-o"></i>联系人：徐洪平</div>
								<div><i class="fa fa-map-marker" style="font-size: 16px;"></i>公司地址：浙江省新昌县大道东路788号</div>
								<div><i class="fa fa-envelope"></i>邮政编码：312500</div>
								<div><i class="fa fa-mobile" style="font-size: 18px;"></i>联系电话：0575-86176888 86176988 86176666</div>
								<div><i class="fa fa-fax"></i>联系传真：0575-86176202 86176988</div>
								<div><i class="fa fa-envelope-o"></i>企业邮箱：honghui158@163.com</div>
							</div>
					</div>
				</div>
			</div>
			
				
				
			
			<!--footer-->
			<div class="footerWrap">
				<p>版权所有@ 2017 浙江宏辉胶丸有限公司<a href="#" title="17sucai">Reserved</a>浙ICP备06014512号</p>
			</div>
	</body>
</html>
